OPENAI_API_KEY=

USER_ID=random_user_id

AGENT_ID=random_agent_id

LOCAL_MEMORY_ROOT=local_memory

AGENT_NAME=My_Quarq_Agent

AGENT_PERSONALITY="friendly,joyful"

AGENT_USE_CASES=["coding","brainstroming","code review"]

AGENT_CUSTOM_PROMPT="You have a world best memory system"